<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{domain.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{domain.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/domains}" class="btn btn-secondary">[[#{domain.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('domain')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='domain', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='domain', field='domainName', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='domain', field='status', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='domain', field='comments', type='textarea')}" />
                <input type="submit" th:value="#{domain.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
