spring:
  datasource:
    url: ${eventstracker_JDBC_DATABASE_URL}
    username: ${eventstracker_JDBC_DATABASE_USERNAME}
    password: ${eventstracker_JDBC_DATABASE_PASSWORD}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true
  docker:
    compose:
      enabled: false
error:
  handling:
    http-status-in-json-response: true
    exception-logging: NO_LOGGING
    full-stacktrace-http-statuses: 5xx
    log-levels:
      5xx: ERROR
    http-statuses:
      org.springframework.security.authorization.AuthorizationDeniedException: unauthorized
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
springdoc:
  pathsToMatch: /api/**
server:
  port: 9081
  processRunEvents:
    fixedRate: 10000
sathishprojects:
  sathish_project_events_exchange: x.sathishprojects.events
  github_routing_key: github.operations.crud
# Event Domain User Configuration
eventDomainUser: ${EVENT_DOMAIN_USER:user}
eventDomainUserPassword: ${EVENT_DOMAIN_USER_PASSWORD:pass}
decorator:
  datasource:
    p6spy:
      enable-logging: true
      custom-appender-class: com.p6spy.engine.spy.appender.MultiLineFormat
